<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Only Gestures
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section #content [appSwipeGesture]="content">
        <ion-list>
            <ion-list-header mode="ios">
                <ion-label>Swipe left or right</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let item of list; let i = index">
                <ion-label>Item {{ i }}</ion-label>
            </ion-item>
        </ion-list>
    </section>
</ion-content>
